.select {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 26px;
}

.select__body {
  margin: 0 10px;
}

@media (max-width: 540px) {
  .select {
    margin-left: 0;
  }

  .select:last-of-type {
    margin-top: 36px;
    margin-bottom: 34px;
  }
}
